<% layout("./layouts/boilerplate")  %>
<div class="row mt-3">
    <h1 class="col-6 offset-3">Login</h1>
    <div class="col-6 offset-3">
        <form action="/login" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-labael" >username</label>
                <input placeholder="enter username" class="form-control" id="username"  name="username" type="text" required>            </div>
            <!--password-->
            <div class="mb-3">
                <label for="password" class="form-labael" >password</label>
                <input placeholder="enter password" class="form-control" id="password"  name="password" type="password" required>
            </div>
            <!--Button-->
            <button class="btn btn-success ">
                Login
            </button>

        </form>
    </div>
</div>